<app-header-tab name="Tab 4"></app-header-tab>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Adivina un número del 0 al 100</ion-label>
          <ion-button fill="clear" (click)="comprobar()">Comprobar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input type="number" label="Número" placeholder="Introduzca un número" [(ngModel)]="numCandidato"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <p class="intentos">Número de intentos: {{ intentos }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <p [ngClass]="{'acierto': acierto}">{{ mensaje }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.mensaje === '¡¡Enhorabuena!! Has acertado el número secreto.'">
      <ion-col>
        <ion-button id="reiniciar">¿Quieres volver a jugar?</ion-button>
        <ion-alert
          trigger="reiniciar"
          header="¿Nuevo juego?"
          message="Se resetearán los valores del juego."
          [buttons]="botones">
        </ion-alert>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
